

.formtab {
    width: 101%;
}

.field-container {
    border: 1px solid #DDDDDD;
    overflow: auto;
    padding-bottom: 10px;
}

.form-row{
    margin-top: 10px;
}

.form-horizontal .control-label.text-left{
    text-align: left!important;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }




