<h1 class="page-header">Form: {{model.form.title}}</h1>
<div class="container formtab">
    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a href="">Fields</a></li>
    </ul>
</div>
<div class="container-fluid field-container">
    <div id="sortable" div-sortable div-axis="y">
        <div ng-repeat="field in model.fields" >
            <div class="row form-row">
                <div class="col-md-3">
                    <label for="" class="control-label">{{field.label}}:</label>
                </div>
            </div>
            <div class="row" ng-switch on="field.type">
                <div class="col-xs-6 col-sm-7" ng-switch-when="OPTIONS">
                    <select class="form-control">
                        <option value="">-- choose --</option>
                        <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                    </select>
                </div>
                <div class="col-xs-6 col-sm-7" ng-switch-when="TEXT">
                    <input type="text"  class="form-control" placeholder="{{field.placeholder}}">
                </div>
                <div class="col-xs-6 col-sm-7" ng-switch-when="DATE">
                    <input type="date" class="form-control" placeholder="{{field.placeholder}}">
                </div>
                <div class="col-xs-6 col-sm-7" ng-switch-when="RADIOS">
                    <div class="radio" ng-repeat="option in field.options">
                        <label><input type="radio" value="{{option.value}}" name="{{field.label}}">{{option.label}}</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-7" ng-switch-when="CHECKBOXES">
                    <div class="checkbox" ng-repeat="option in field.options">
                        <label><input type="checkbox" value="{{option.value}}">{{option.label}}</label>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-7" ng-switch-when="TEXTAREA">
                    <textarea class="form-control" rows="2" placeholder="{{field.placeholder}}"></textarea>
                </div>
                <div class="col-xs-6 col-sm-7" ng-switch-default>
                    <input type="text" id="" class="form-control" placeholder="{{field.placeholder}}">
                </div>
                <div class="col-xs-6 col-sm-5">
                    <a href="javascript:void(0);" ng-click="model.editField(field)"><i class="glyphicon glyphicon-pencil tableicon-lg"></i></a>
                    <a href="javascript:void(0);" ng-click="model.cloneField(field)"><i class="glyphicon glyphicon-plus tableicon-lg text-warning"></i></a>
                    <a href="javascript:void(0);" ng-click="model.removeField(field._id)"><i class="glyphicon glyphicon-remove tableicon-lg text-danger"></i></a>
                    <a href="javascript:void(0);" class="handle"><i class="glyphicon glyphicon-align-justify tableicon-lg text-success"></i></a>
                </div>
            </div>
        </div>

    </div>
    <hr>

    <div class="row form-row">
        <div class="col-md-3">
            <label for="newField" class="control-label">Add New Field:</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-7">
            <select class="form-control" id="newField" ng-model="model.fieldType">
                <option value="0">Single Line Text</option>
                <option value="2">Date</option>
                <option value="3">Dropdown</option>
                <option value="4">Checkboxes</option>
                <option value="5">Radio Buttons</option>
                <option value="1">Paragraph Text Field</option>
            </select>
        </div>
        <div class="col-xs-6 col-sm-5">
            <a href="" class="no-visibility"><i class="glyphicon glyphicon-pencil tableicon-lg"></i></a>
            <a href="" ng-click="model.addField(model.fieldType)"><i class="glyphicon glyphicon-plus tableicon-lg text-warning"></i></a>
        </div>
    </div>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label>Label</label>
                        <input type="text" class="form-control"
                               ng-model="model.modal.label"/>
                    </div>
                    <div class="form-group" ng-if="model.modal.type == 'TEXT'">
                        <label>Placeholder</label>
                        <input type="text" class="form-control"
                               ng-model="model.modal.placeholder"/>
                    </div>
                    <div class="form-group" ng-if="model.modal.type == 'TEXTAREA'">
                        <label>Placeholder</label>
                        <input type="text" class="form-control"
                               ng-model="model.modal.placeholder"/>
                    </div>
                    <div class="form-group" ng-if="model.modal.type == 'OPTIONS'">
                        <label>Options</label>
                        <textarea class="form-control"
                                  ng-model="model.arrayOptions"
                                  rows="{{model.rows}}"
                                  ng-list="&#10;"
                                  ng-trim="false"></textarea>
                    </div>
                    <div class="form-group" ng-if="model.modal.type == 'RADIOS'">
                        <label>Options</label>
                        <textarea class="form-control"
                                  ng-model="model.arrayOptions"
                                  rows="{{model.rows}}"
                                  ng-list="&#10;"
                                  ng-trim="false"></textarea>
                    </div>
                    <div class="form-group" ng-if="model.modal.type == 'CHECKBOXES'">
                        <label>Options</label>
                       <textarea class="form-control"
                                 ng-model="model.arrayOptions"
                                 rows="{{model.rows}}"
                                 ng-list="&#10;"
                                 ng-trim="false"></textarea>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                <button type="button" ng-click="model.updateField(model.modal,model.arrayOptions)" class="btn btn-primary">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
