<!--<div class="row">-->
    <!--<div class="col-sm-6 col-sm-offset-3">-->
        <!--<div class="text-center">-->
            <!--<h2 class="text-success"><strong>SpiderMongo</strong></h2>-->

            <!--<p>-->
            <!--<h3 class="text-primary"><strong>Online MongoDB GUI</strong></h3>-->
            <!--</p>-->

        <!--</div>-->

    <!--</div>-->

<!--</div>-->


<div class="row">
    <div class="text-align-center">
        <div class="display-block-inline">
            <img src="/project/client/assets/img/crop6.png" class="img-responsive wall-image">
            <h3 class="text-primary droid-serif-font"><strong>Online MongoDB GUI</strong></h3>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3 droid-serif-font">
        <div class="text-center text-info">

            <h4><em>No coding, no configuration needed !!!</em></h4>
        </div>
        <div class="form-bottom">
            <form role="form" action="" method="post" class="login-form">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                        <input type="text" ng-model="user.username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    </div>
                    <!--<label class="sr-only" for="form-username">Username</label>-->
                    <!--<input ng-model="user.username" type="text" name="form-username" placeholder="Username" class="form-username form-control"-->
                           <!--id="form-username">-->
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input type="password" ng-model="user.password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                    </div>
                    <!--<label class="sr-only" for="form-password">Password</label>-->
                    <!--<input ng-model="user.password" type="password" name="form-password" placeholder="Password"-->
                           <!--class="form-password form-control" id="form-password">-->
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
                        <input type="password" ng-model="model.vpassword" class="form-control" placeholder="Verify Password" aria-describedby="basic-addon3">
                    </div>
                    <!--<label class="sr-only" for="form-verify-password">Verify Password</label>-->
                    <!--<input ng-model="user.password" type="password" name="form-password" placeholder="Verify Password"-->
                           <!--class="form-password form-control" id="form-verify-password">-->
                </div>
                <!--<div class="form-group">-->
                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon" id="basic-addon4"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>-->
                        <!--<input type="text" ng-model="user.email" class="form-control" placeholder="email@abc.com" aria-describedby="basic-addon4">-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<label class="sr-only" for="form-email">Email</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input ng-model="user.email" type="email" name="form-password" placeholder="email@abc.com"&ndash;&gt;-->
                           <!--&lt;!&ndash;class="form-password form-control" id="form-email">&ndash;&gt;-->
                <!--</div>-->
                <a href="" ng-click="model.register(user)" role="button" class="btn btn-info btn-block">Register</a>
                <a href="#/login" role="button" class="btn btn-primary btn-block">Already User ?</a>
            </form>
        </div>
    </div>
</div>


