


<div class="row" style="padding-top: 7px;">
    <div class="col-lg-12">
        <ol class="breadcrumb">
  <li><a href="#/connections">Connection</a></li>
  
  
</ol>

    </div>

</div>
<div class="row" >

        <div class="col-lg-12">
            <form class="form-inline">
                <div class="form-group">
                <a  href="#/addConnection" class="form-control btn btn-primary hidden-xs">Add Connection</a>
                <a  href="#/addConnection" class="form-control btn btn-primary btn-block hidden-lg hidden-md hidden-sm">Add Connection</a>
            </div>
            </form>
        </div>
    <div class="col-lg-12">
        <div class="table-responsive">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>Connection</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="connection in model.connections" ng-class="{'danger' : connection.enabled === false , 'success' : connection.connected === true }"
            >
                <td>{{connection.name}}</td>
                
                <td>
                    <a class="btn btn-warning btn-xs" href="#/editConnection/{{connection._id}}">
                        <span class="fa fa-pencil" aria-hidden="true"> </span>
                    </a>
                    <a ng-if="connection.enabled === true && connection.connected === false" class="btn btn-success btn-xs" href="" ng-click="model.doConnect(connection._id)">
                        <span class="fa fa-bolt" aria-hidden="true"> Connect</span>
                    </a>
                    <a ng-if="connection.enabled === true && connection.connected === true" class="btn btn-danger btn-xs" href="" ng-click="model.doDisonnect(connection._id)">
                        <span class="fa fa-bolt" aria-hidden="true"> Disconnect</span>
                    </a>
                    <a ng-if="connection.connected === false" class="btn btn-danger btn-xs" href="" ng-click="model.deleteConnection(connection._id)">
                        <span class="fa fa-trash" aria-hidden="true"></span>
                    </a>
                    <a ng-if="connection.connected === true" class="btn btn-success btn-xs" href="#/database" >
                        <span class="fa fa-sign-in" aria-hidden="true"> Open</span>
                    </a>
                    <a ng-if="connection.enabled === true" class="btn btn-info btn-xs"href="" ng-click="model.disableConnection(connection._id)">
                        <span class="fa fa-power-off" aria-hidden="true" > Disable</span>
                    </a>
                    <a ng-if="connection.enabled === false" class="btn btn-info btn-xs" href="" ng-click="model.enableConnection(connection._id)">
                        <span class="fa fa-plug" aria-hidden="true"> Enable</span>
                    </a>
                    
                </td>
            </tr>
            <tr ng-if="model.connections.length == 0"><td colspan="2">
                No Connection Found
            </td></tr>

            
        </tbody>
    </table>
</div>

    </div>

    <!-- /.col-lg-12 -->
</div>
{{model.renderSiderbar()}}
<!-- /.row -->






