
	<div class="row" style="padding-top: 7px;">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><a href="#/connection">Connection</a></li>
				<li><a href="#/database">Database</a></li>
				<li><a href="#/database">Collections</a></li>
				<li class="active">Collection</li>
			</ol>

		</div>

	</div>

	<div class="row">
		<div class="col-lg-12">
			<form class="form-inline">
				<div class="form-group">
					<select class="form-control" ng-model="model.search.key">
						<option ng-repeat="key in model.searchKeys" value="{{key}}">{{key}}</option>
						<option value="all">Get all</option>
					</select>
				</div>
				<div class="form-group">
					<label class="sr-only" for="val">Value</label>
					<input type="text" class="form-control" id="val" ng-model="model.search.val" placeholder="Value">
				</div>
				<div class="form-group">
				<button ng-click="model.find(model.search,model.collectionName)" class="form-control btn btn-success hidden-xs">Search</button>
				<button ng-click="model.find(model.search,model.collectionName)" class="form-control btn btn-success btn-block hidden-lg hidden-md hidden-sm">Search</button>
			</div>
				<div class="form-group">
				<a  href="#/addDocument/{{model.collectionName}}" class="form-control btn btn-primary hidden-xs">Add Document</a>
				<a  href="#/addDocument/{{model.collectionName}}" class="form-control btn btn-primary btn-block hidden-lg hidden-md hidden-sm">Add Document</a>
			</div>
			</form>
		</div>

		<div class="col-lg-12" style="padding-top: 7px;" ng-repeat="document in model.filteredDocuments track by $index">
			<div class="panel panel-default">
				<div class="panel-body">
					<pretty-json json="document"></pretty-json>
			</div>
			<div class="panel-footer">
				<a href="#/editDocument/{{model.collectionName}}/document/{{document._id}}" class="btn btn-warning btn-xs">
					<span class="fa fa-pencil" aria-hidden="true"> Edit&nbsp;</span>
				</a>
				<a ng-click="model.deleteDocument(document._id)" class="btn btn-danger btn-xs">
					<span class="fa fa-trash" aria-hidden="true">&nbsp;Delete</span>
				</a>
			</div>
		</div>
	</div>
		<div class="col-lg-12" style="padding-top: 7px;">
			<uib-pager boundary-links="true"
				   items-per-page="model.itemsPerPage"
				   total-items="model.documents.length"
				   ng-model="model.currentPage"
				   ng-click="model.pageChanged()"></uib-pager>
		</div>

	</div><!-- /.row -->
