
<div class="row" style="padding-top: 7px;">
    <div class="col-lg-12">
        <ol class="breadcrumb">
  <li><a href="#/connection">Connection</a></li>
   <li class="active">{{database}}</li>
</ol>

    </div>

</div>
<div class="row" >
    <div class="col-lg-12">
       <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                

                <td>
                            <input type="text" ng-model="model.collectionName" class="form-control text" placeholder="Collection Name">
                        </td>
                       <td >
                            <input readonly type="text" class="form-control text" ng-model="model.database" placeholder="Database">
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="javascript:void(0);" ng-click="model.createCollection(model.collectionName)">
                        <span class="fa fa-plus" aria-hidden="true"> Create Collection</span>
                    </a>
                        </td>
            </tr>
            <tr>
                <th>#</th>
                <th>Collection</th>
                <th>Connect</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="collection in model.collections | filter : model.notSystem">
                <td>{{$index+1}}</td>
                <td>{{collection.name}}</td>
                <td>
                    <a href="#/collection/{{collection.name}}/database/{{model.database}}" class="btn btn-success btn-xs">
                        <span class="fa fa-sign-in" aria-hidden="true"> Open&nbsp;</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    </div>

    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->



