<div class="row hidden-xs hidden-sm hidden-md">
                <div class="col-lg-12">
                    <h1 class="page-header"> My Dashboard</h1>

                </div>
                
                <!-- /.col-lg-12 -->
            </div>


            <div class="row hidden-lg">
                <div class="col-lg-12">
                    <h3 class="page-header"> My Dashboard</h3>

                </div>
                
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row hidden-lg">
                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-plug"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div>Connections: 2</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/connection">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>

                </div>
                
                <!-- /.col-lg-12 -->
            </div>

            <div class="row hidden-lg">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-database"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div>Databases: 10</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/database">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>

                </div>
                
                <!-- /.col-lg-12 -->
            </div>


            <div class="row hidden-lg">
                <div class="col-lg-12">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-table"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div>Collections: 12</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/collection">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>

                </div>
                
                <!-- /.col-lg-12 -->
            </div>


            <div class="row hidden-lg">
                <div class="col-lg-12">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-exclamation-triangle"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    
                                    <div>Failed Connection: 0</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/failedConnection">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>

                </div>
                
                <!-- /.col-lg-12 -->
            </div>



            <div class="row hidden-xs hidden-sm hidden-md">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-plug fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">2</div>
                                    <div>Connections</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/connection">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-database fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>Schemas</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/database">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-table fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>Collections</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/collection">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-exclamation-triangle fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">0</div>
                                    <div>Failed Connection</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/failedConnection">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
                <div class="row">
                <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr class="theadrow">
                        <th>#</th>
                       <!-- <th><span></span> Host Address</th> -->
                        <th><span></span> Connection Name</th>
                       <!-- <th><span class="caret"></span> Username</th>
                        <th><span class="caret"></span> Password</th> -->
                        <th class="th-action">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr>
                        <td>
                            <input type="text" class="form-control text" placeholder="http://">
                        </td>
                        <td>
                            <input type="text" class="form-control text" placeholder="hostname">
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="username">
                        </td>
                        <td>
                            <input type="password" class="form-control" placeholder="password">
                        </td>
                        <td>
                            <a href="#">
                                <span class="fa fa-plus-circle fa-2x" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr> -->
                    <tr>
                       <td>1</td>
                        <td>Development</td>
                        
                        <td>
                            <a href="#">
                                <span class="fa fa-toggle-on fa-lg text-success" aria-hidden="true"> On </span>
                            </a>
                            <a href="#/database" class="btn btn-warning btn-xs">
                                <span class="fa fa-sign-in" aria-hidden="true"> Open</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Production</td>
                        
                        <td>
                            <a href="#">
                                <span class="fa fa-toggle-on fa-lg text-danger" aria-hidden="true"> Off </span>
                            </a>
                            <a href="#" class="btn btn-warning btn-xs" disabled="disabled">
                                <span class="fa fa-sign-in" aria-hidden="true"> Open</span>
                            </a>
                            
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>