	<div class="row" style="padding-top: 7px;">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li><a href="#/connection">Connection</a></li>
				<li><a href="#/database">Database</a></li>
				<li><a href="#/database">Collections</a></li>
				<li><a href="#/collection">Collections</a></li>
				<li class="active hidden-xs hidden-sm">Edit Document</li>
			</ol>

		</div>
</div>
    <div class="row">
		<div class="col-lg-12 hidden-lg hidden-md">
			<h3 class="header"> Edit Document</h3>
			<hr>
		</div>

</div>
    <div class="row">
		<div class="col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr class="theadrow">
                        <th>Key</th>
                        <th>Value</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <input type="text" ng-model="model.add.key" class="form-control text" placeholder="New Field">
                        </td>
                        <td>
                            <a class="btn btn-warning" ng-click="model.localAdd(model.add)"><i class="fa fa-plus"></i></a>
                        </td>
                    </tr>
                    <tr ng-repeat="(key, value) in model.document">

                        <td>{{key}}</td>
                        <td>
                            <input type="text" ng-model="model.document[key]" class="form-control text" placeholder="{{key}}">
                        </td>
                        <td>
                            <a class="btn btn-danger" ng-click="model.localDelete(key)"><i class="fa fa-trash"></i></a>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3">
                            <a class="btn btn-success btn-block" ng-click="model.update(model.document,model.documentId)"><i class="fa fa-save"></i> Commit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

		</div>
</div>



		